@tailwind base;
@tailwind components;
@tailwind utilities;

.img-container {
    width: 100%;
    @apply transition ease-in-out 
    transform hover:translate-x-7 
    hover:-translate-y-5 delay-150 duration-500
    md:w-[12em] h-[10%];

    img {
        padding: .8em;
        height: 10em;
        @apply scale-100;
        margin: 0 auto;
    }

    h3 {
        margin-top: 1.2em;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: underline;
        @apply capitalize;

        span {
            color: orangered;
            font-size: 1.2em;
            font-weight: bolder;
        }
    }

    p {
        margin-top: 1.2em;
        font-size: 1rem;
        font-weight: bold;
    }

    button {
        @apply rounded-md p-1 m-3 
        text-white bg-orange-700 
        font-semibold
        hover:bg-orange-700 hover:text-white;
    }
}